/*---- Global ----*/

@font-face {
    font-family: "Nico Moji";
    src: url('fonts/NicoMoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Acme";
    src: url('fonts/Acme-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}

/*---- Header ----*/


.header-navContainer {
    position: relative;
    background-color: #234412;
    background-image: url("./img/Hintergrund Landschaft.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 54%;
    box-shadow: 0px 0.3125em 0.4375em rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 12em;
}

.header-navIcon {
    position: absolute;
    width: 10%;
    height: auto;
    top: 15%;
    left: 5.5%;
    display: block;
}

.header-navButton {
    font-family: "Nico Moji";
    position: absolute;
    width: auto;
    top: 30%;
    right: 6%;
    display: flex;
    gap: 6em;
    align-items: center;
}

.header-navButton a {
    text-decoration: none;
    font-size: 1.2em;
    color: #234412;
    background-color: #FFF7AF;
    border-radius: 1.5625em;
    padding: 0.5625em 0.9375em 0.625em;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.header-navButton a:hover {
    transform: scale(1.1);
}

.dropdown-btn {
    display: none;
}

/*---- Body ----*/

.produktContainer {
    width: 100%;
    height: 182vh;
    background-color: rgba(252, 200, 114, 1);
    margin-block-start: 0;
    margin-block-end: 0;
}

.produkt-suchLeiste {
    margin: 0;
    display: flex;
    align-items: center;
    font-family: "Nico Moji";
    color: #234412;
    justify-content: space-between;
}

.produkt-h1 {
    font-size: 2.5em;
    margin: 3.6% 0 0 6%;
}

.produkt-underLine {
    width: 88%;
    margin: 0.25% 0 0 6%;
    height: 0.153em;
    background-color: #234412;
    position: absolute;
}

/*-- Produkt Bereich --*/

.produktBox {
    width: 75%;
    height: 35em;
    background-color: rgba(255, 247, 175, 1);
    margin: 3.5% 12.5% 0 12.5%;
    border-radius: 0.625em;
    position: relative;
    gap: 2em;
    display: flex;
    align-items: center;
}

.imgBox {
    width: 32%;
    height: 29em;
    background-color: #FFF7AF;
    border-radius: 0.625em;
    position: absolute;
    border: 0.153em solid #FCC872;
    margin: 2.375em 1em 2.375em 2.375em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 1.5px 3px rgba(0, 0, 0, 0.6);
}

.produktImg {
    position: absolute;
    width: 80%;
}

.produktImg:hover {
    transform: scale(1.3);
}

.kaufBox {
    width: 57%;
    height: 29em;
    background-color: #FFF7AF;
    margin: 2.375em 2.375em 2.375em 34em;
    border-radius: 0.625em;
    font-family: Acme;
    position: relative;
}

.kaufboxH2 {
    color: #234412;
    font-size: 2.7em;
    letter-spacing: 0.07em;
    margin: 0.5em 0 0 0;
}

.kaufboxH3 {
    color: #234412;
    font-size: 2em;
    letter-spacing: 0.07em;
    margin: 0.5em 0 0 0;
}

.kaufboxP1 {
    color: #234412;
    margin: 10.5em 0 0.2em 0.4em;
    letter-spacing: 0.07em;
}

.kaufboxUnderline {
    background-color: #FCC872;
    width: 90%;
    height: 0.153em;
    position: absolute;
}

.kaufboxP2 {
    color: #234412;
    letter-spacing: 0.08em;
    margin: 0.7em 0 0 0.4em;
    width: 5em;
}

.kaufbuttons {
    background-color: #FFF7AF;
    width: 100%;
    height: 7em;
    position: absolute;
    display: flex;
}

.mengeButton {
    width: 21%;
    height: 90%;
    background-color: #FFF7AF;
    display: flex;
    gap: 1.2em;
    margin: 0 0 0 0.4em;
    align-items: center;
}

.minusBTN {
    width: 3em;
    height: 50%;
    background-color: #FFF7AF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0 0 0;
    border: 0.153em solid #FCC872;
    border-radius: 0.625em;
}

#minusBTN {
    width: 80%;
    height: 80%;
    border: none;
    font-size: 2em;
    color: #234412;
    background-color: rgba(255, 247, 175, 0);
    border-radius: 0.25em;
    cursor: pointer;
}

#counter {
    font-size: 2em;
    margin: 0.3em 0 0 0;
    color: #234412;
}

.plusBTN {
    width: 3em;
    height: 50%;
    background-color: #FFF7AF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0 0 0;
    border: 0.153em solid #FCC872;
    border-radius: 0.625em;
}

#plusBTN {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 2em;
    color: #234412;
    background-color: rgba(255, 247, 175, 0);
    border-radius: 0.25em;
    cursor: pointer;
}

.checkoutButton {
    width: 45%;
    height: 100%;
    background-color: #FFF7AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    margin-left: 1.5em;
}

.warenkorbBTN {
    width: 90%;
    height: 2.5em;
    background-color: #FFF7AF;
    border-radius: 1.5625em;
    border: 0.153em solid #FCC872;
    justify-content: center;
    display: flex;
    align-items: center;
}

#warenkorbBTN {
    font-size: 1.25em;
    border-radius: 1.5625em;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #234412;
    font-family: "Nico Moji";
}

.paypalBTN{
    width: 90%;
    height: 2.5em;
    background-color: #FFF7AF;
    border-radius: 1.5625em;
    border: 0.153em solid #FCC872;
    background-color: #FCC872;
    justify-content: center;
    display: flex;
    align-items: center;
}

#paypalBTN {
    width: 100%;
    height: 100%;
    border-radius: 1.5625em;
    justify-content: center;
    display: flex;
    align-items: center;
}

.paypalIMG {
    width: auto;
    height: 1.8em;
    display: flex;
}

.likeButton {
    width: 18%;
    height: 100%;
    background-color: #FFF7AF;
    justify-content: center;
    display: flex;
    align-items: center;
}

.likeBTN {
    width: 4.5em;
    height: 4.5em;
    background-color: #FCC872;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

#likeBTN {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.153em solid #FCC872;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FFF7AF;
}

.heartIMG {
    width: auto;
    height: 3em;
}

.beschreibungsBox {
    width: 75%;
    height: 45em;
    background-color: #FCC872;
    margin: 6% 12.5% 0 12.5%;
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
}

.boxP1 {
    width: 100%;
    height: 20%;
    background-color: #FFF7AF;
    border-top-left-radius:  0.625em;
    border-top-right-radius:  0.625em;
    display: flex;
    align-items: flex-end;
}

.beschreibungP1 {
    font-family: "Nico Moji";
    margin: 1.5em 3em 1.5em 3em;
    color: #234412;
    font-size: 1.1em;
}

.underlineP1 {
    width: 100%;
    height: 0.153em;
    background-color: #FCC872;
}

.boxP2 {
    width: 100%;
    height: 50%;
    background-color: #FFF7AF;
    display: flex;
    align-items: center;
}

.beschreibungP2 {
    font-family: "Nico Moji";
    margin: 1.5em 3em 1.5em 0em;
    color: #234412;
    font-size: 0.95em;
    letter-spacing: 0.02em;
}

.ulP2 {
    font-family: "Nico Moji";
    margin: 0em 3em 1.5em 0;
    color: #234412;
    font-size: 0.95em;
    letter-spacing: 0.02em;
    font-size: 1.3em;
    line-height: 1.9em;
    letter-spacing: 0.15em;
}

.ulP2p {
    font-size: 1.3em;
}

.boxP3 {
    width: 100%;
    height: 20%;
    background-color: #FFF7AF;
    border-bottom-left-radius:  0.625em;
    border-bottom-right-radius:  0.625em;
    display: flex;
    align-items: flex-start;
}

.beschreibungP3 {
    font-family: "Nico Moji";
    margin: 1.5em 3em 1.5em 3em;
    color: #234412;
    font-size: 1.1em;
}

/*---- Footer ----*/

.footerContainer {
    width: 100%;
    height: 25vh;
    background-color: #FCC872;
}

.footer {
    background-color: #FCC872;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #234412;
}

.text2 {
    font-size: 1.3em;
    color: rgb(35, 68, 18, 0.5);
}

/*---- Media Queries ----*/

/* Media Query für Bildschirme unter 1600px */

@media (max-width: 1600px) {
    .header-navContainer {
        height: 10em;
    }

    .produktContainer {
        height: 95em;
    }

    .produktBox {
        width: 75%;
        height: 30em;
    }

    .imgBox {
        width: 32%;
        height: 24em;
    }

    .kaufboxH2 {
        font-size: 2.3em;
        margin-top: 1.3em;
    }

    .kaufboxH3 {
        font-size: 1.7em;
    }

    .kaufBox {
        margin: 2.375em 2.375em 2.375em 29em;
    }

    .kaufboxP1 {
        margin-top: 7.2em;
    }

    .minusBTN {
        width: 3em;
        height: 40%;
    }

    #minusBTN {
        font-size: 1.5em;
    }

    #counter {
        font-size: 1.8em;
    }

    .plusBTN {
        width: 3em;
        height: 40%;
    }

    #plusBTN {
        font-size: 1.5em;
    }

    #warenkorbBTN {
        font-size: 0.95em;
    }

    .paypalIMG {
        width: auto;
        height: 1.2em;
    }

    .likeBTN {
        width: 4em;
        height: 4em;
    }

    .heartIMG {
        width: auto;
        height: 2em;
    }

    .beschreibungP1 {
        font-size: 1.05em;
    }

    .beschreibungP2 {
        font-size: 0.85em;
    }

    .beschreibungP3 {
        font-size: 1.05em;
    }

    .ulP2 {
        font-family: "Nico Moji";
        margin: 0em 3em 1.5em 0;
        color: #234412;
        font-size: 1.2em;
        letter-spacing: 0.02em;
    }

}

/* Media Query für Bildschirme unter 1300px */

@media (max-width: 1300px) {

    .header-navContainer {
        height: 11em;
    }

    .produktContainer {
        height: 90em;
    }

    .produktBox {
        width: 75%;
        height: 25em;
    }

    .imgBox {
        width: 32%;
        height: 20em;
    }

    .kaufboxH2 {
        font-size: 1.7em;
        margin-top: 1.4em;
    }

    .kaufboxH3 {
        font-size: 1.4em;
    }

    .kaufBox {
        margin: 2.375em 2.375em 2.375em 24em;
        height: 25em;
    }

    .kaufboxP1 {
        margin-top: 7.2em;
        font-size: 0.8em;
    }

    .kaufboxP2 {
        margin: 0.7em 0 0 0.4em;
        width: 5em;
        font-size: 0.8em;
    }

    .minusBTN {
        width: 3em;
        height:30%;
    }

    #minusBTN {
        font-size: 1.3em;
    }

    #counter {
        font-size: 1.4em;
    }

    .plusBTN {
        width: 3em;
        height: 30%;
    }

    #plusBTN {
        font-size: 1.3em;
    }

    .warenkorbBTN {
        height: 1.9em;
    }

    #warenkorbBTN {
        font-size: 0.75em;
    }

    .paypalBTN {
        height: 1.9em;
    }

    .paypalIMG {
        width: auto;
        height: 1em;
    }

    .likeBTN {
        width: 3em;
        height: 3em;
    }

    .heartIMG {
        width: auto;
        height: 1.8em;
    }

    .ulP2 {
        font-family: "Nico Moji";
        font-size: 1em;
    }

    .footer {
        font-size: 1.5em;
        padding-top: 5%;
    }

    .text2 {
        font-size: 1.3em;
    }
}

/* Media Query für Bildschirme unter 1100px */

@media (max-width: 1100px) {

    .header-navContainer {
        height: 6em;
    }

    .produktContainer {
        height: 90em;
    }

    .kaufBox {
        margin: 3em 3em 3em 19em;
        height: 25em;
    }

    .header-navButton a {
        font-size: 0.9em;
    }

    .produkt-h1 {
        font-size: 2em;
        margin: 3.6% 0 0 6%;
    }

    .kaufboxH2 {
        font-size: 1.4em;
        margin-top: 1.7em;
    }

    .kaufboxH3 {
        font-size: 1.1em;
    }

    .mengeButton {
        width: 30%;
        gap: 0.9em;
        justify-content: flex-start;
    }

    .checkoutButton {
        margin: 0;
        width: 55%;
        align-items: center;
        gap: 0.9em;
    }

    .likeButton {
        justify-content: flex-start;
    }

    .minusBTN {
        width: 1.7em;
        height: 25%;
    }

    #minusBTN {
        font-size: 1.3em;
    }

    #counter {
        font-size: 1.1em;
    }

    .plusBTN {
        width: 1.7em;
        height: 25%;
    }

    #plusBTN {
        font-size: 1.3em;
    }

    .warenkorbBTN {
        height: 1.9em;
        width: 90%;
    }

    #warenkorbBTN {
        font-size: 0.7em;
    }

    .paypalBTN {
        height: 1.9em;
        width: 90%;
    }

    .paypalIMG {
        width: auto;
        height: 0.9em;
    }

    .likeBTN {
        width: 3em;
        height: 3em;
    }

    .heartIMG {
        width: auto;
        height: 1.8em;
    }

    .beschreibungP1 {
        font-size: 0.9em;
    }

    .beschreibungP3 {
        font-size: 0.9em;
    }

    .ulP2p {
        font-size: 1em;
    }

    .footer {
        padding: 0;
    }
}

/* Media Query für Bildschirme unter 870px */

@media (max-width: 870px) {

    .header-navContainer {
        height: 5em;
    }

    .header-navButton a {
        font-size: 0.7em;
    }

    .produktContainer {
        height: 90em;
    }

    .kaufBox {
        margin: 3em 3em 3em 43%;
        height: 25em;
    }

    .produktBox {
        width: 90%;
        margin: 5%;
    }

    .mengeButton {
        width: 30%;
    }

    .checkoutButton {
        width: 50%;
    }

    .beschreibungsBox {
        width: 90%;
        margin: 5%;
    }

    .footerContainer {
        height: 9em;
    }

    .footer {
        height: 7em;
    }
}

/* Media Query für Bildschirme unter 660px */

@media (max-width: 660px) {


    .produktContainer {
        height: 120em;
    }

    .produkt-suchLeiste {
        padding-top: 3%;
    }

    .produktBox {
        width: 80%;
        height: 45em;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        display: flex;
        margin: 7% 10% 3% 10%;
    }

    .imgBox {
        height: 21em;
        width: 72%;
        margin: 3em 1em 0 1em;
    }

    .kaufBox {
        margin: 26em 0 0 0;
        width: 72%;
        height: 18.5em;
    }

    .kaufboxH2 {
        font-size: 1.8em;
        margin-top: 0.5em;
    }

    .kaufboxP1 {
        margin-top: 3em;
    }

    .kaufboxUnderline {
        width: 100%;
    }

    .mengeButton {
        width: 30%;
    }

    .checkoutButton {
        align-items: center;
        width: 55%;
    }

    .warenkorbBTN {
        width: 95%;
    }

    #warenkorbBTN {
        font-size: 0.7em;
    }

    .paypalBTN {
        width: 95%;
    }

    .likeButton {
        width: 15%;
        justify-content: flex-end;
    }

    .beschreibungsBox {
        height: 55em;
        margin-top: 7%;
    }

    .boxP1 {
        height: 10em;
        font-size: 0.9em;
    }

    .boxP2 {
        height: 20em;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .ulP2 {
        font-size: 0.72em;
        margin: 0 5em 0 0;
    }

    .boxP3 {
        height: 10em;
        font-size: 0.9em;
    }

    .footerContainer {
        height: 15vh;
    }

    .footer {
        font-size: 1.2em;
    }

    .header-navButton {
        display: none;
        flex-direction: column;
        width: 6em;
        top: 4.5em;
        right: 2em;
        gap: 0.5em;
        z-index: 100;
    }

    .header-navButton a {
        font-size: 0.7em;
        width: 100%;
        text-align: center;
    }

    .header-navButton.show {
        display: flex;
    }

    .dropdown-btn {
        display: block;
        position: absolute;
        top: 1.6em;
        right: 2.5em;
        width: auto;
        background-color: #FFF7AF;
        border: none;
        cursor: pointer;
        z-index: 1000;
        fill: #234412;
        border-radius: 1.5em;
        padding: 0.4em 0.8em 0.1em;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.7);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s;
    }
}

/* Media Query für Bildschirme unter 480px */

@media (max-width: 480px) {
    .produktContainer {
        height: 97em;
    }

    .produktBox {
        height: 41em;
    }

    .beschreibungsBox {
        height: 50em;
        width: 80%;
        margin: 10%;
    }

    .boxP1 {
        height: 11em;
    }

    .boxP2 {
        height: 15em;
    }

    .boxP3 {
        height: 9em;
    }

    .imgBox {
        height: 17em;
        width: 95%;
        margin: 0.3em;
    }

    .kaufBox {
        margin-top: 19em;
        width: 95%;
    }

    .mengeButton {
        display: none;
    }

    .likeButton {
        display: none;
    }

    .checkoutButton {
        width: 100%;
    }

    #warenkorbBTN {
        font-size: 0.8em;
    }

    .paypalIMG {
        width: auto;
        height: 1.3em;
    }
}

